@import url(https://fonts.googleapis.com/css?family=Lato:900,100);

body {
    padding-left: 50px;
    font: 20px Lato, "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#good-news {
    font-size: 12em;
}
